body{
    background: #1A1A40;
    margin: auto;
}

header{
    padding: 35px;
    margin-bottom: 50px;
    background: royalblue;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
}

section{
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.left{
    background: royalblue;
    border-radius: 25px;
    padding: 10px;
    margin: 0px 20px 20px 16%;
    position: relative;
    float: left;
    width: 20%;
    border: none;
}

.right{
    background: royalblue;
    border-radius: 25px;
    padding: 10px;
    margin: 0px 20px 20px 0px;
    float: left;
    position: relative;
    width: 20%;
    border: none;
}

img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
    padding: 20px;
}

.content{
    padding: 0px 10px 10px 10px;
}

h2{
    text-align: center;
}

a{
    text-decoration: none;
    float: right;
    margin: 5px;
    font-weight: bold;
}
a:link{
    color: whitesmoke;
}
a:visited{
    color: lightskyblue;
}
a:hover{
    color: blue;
}