<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monkey</title>
</head>
<body>
    <section>

      <div>
        <img src="../img/nft/monkey_1.png" width="400px" height="380px"> 
        <h2>MONKEY</h2>
      </div>

      <div>
        <span> <h4>INFO</h4> </span>
          <span> <b>date: </b> <i>15/01/2022</i> </span>
          <span> <b>price: </b>1,5 ether </span>
      </div>

      <div>
        <span> <h4>OWNER</h4> </span>
          <span> <b>user: </b> <i>blueBanana</i> </span>
          <span> <b>location: </b>Yakarta, Indonesia </span>
      </div>

      <br>
      <div>============================================</div>

      <a href="../index.html#monkey">return</a>

    </section>
</body>
</html>