<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='style_detail.css'>
    <link rel="icon" type="image/x-icon" href="../img/nft.png">
    <title>Bunny</title>
</head>
<body>
    <section>

      <div class='content'>
        <img src="../img/nft/indie_girl_1.jpg" width="400px" height="380px"> 
        <h1 class="center">INDIE GIRL</h1>
      </div>

      <div class='content'>
        <h3 class="leftTitle"> <b>INFO</b> </h3>
        <p class="left"> <b>Date: </b>COMING SOON </p>
        <p class="right"> <b>Price: </b>0,5 ether </p>
      </div>

      <div class='content'>
        <h3 class="leftTitle"> <b>OWNER</b></h3>
        <p class="left"> <b>User: </b> <i>aligator111</i> </p>
        <p class="right"> <b>Location: </b>Bharat, India </p>
      </div>

      <div class='aContent'>
        <a href="../index.html#indie">Volver</a>
      </div>

    </section>
</body>
</html>