<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indie Girl</title>
</head>
<body>
    <section>

      <div>
        <img src="../img/nft/indie_girl_1.jpg" width="400px" height="380px"> 
        <h2>INDIE GIRL</h2>
      </div>

      <div>
        <span> <h4>INFO</h4> </span>
          <span> <b>date: </b> <i>COMING SOON</i> </span>
          <span> <b>price: </b>0,5 ether </span>
      </div>

      <div>
        <span> <h4>OWNER</h4> </span>
          <span> <b>user: </b> <i>aligator111</i> </span>
          <span> <b>location: </b>Bharat, India </span>
      </div>

      <br>
      <div>============================================</div>

      <a href="../index.html#indie">return</a>

    </section>
</body>
</html>