<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rap</title>
</head>
<body>
    <section>

      <div>
        <img src="../img/nft/rap_1.jpg" width="400px" height="380px"> 
        <h2>RAP</h2>
      </div>

      <div>
        <span> <h4>INFO</h4> </span>
          <span> <b>date: </b> <i>20/01/2022</i> </span>
          <span> <b>price: </b>0,25 ether </span>
      </div>

      <div>
        <span> <h4>OWNER</h4> </span>
          <span> <b>user: </b> <i>eminemOfficial</i> </span>
          <span> <b>location: </b>Misuri, US </span>
      </div>

      <br>
      <div>============================================</div>

      <a href="../index.html#rap">return</a>

    </section>
</body>
</html>