<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robot Mishi</title>
</head>
<body>
    <section>

      <div>
        <img src="../img/nft/robot_mishi.jpg" width="400px" height="380px"> 
        <h2>ROBOT MISHI</h2>
      </div>

      <div>
        <span> <h4>INFO</h4> </span>
          <span> <b>date: </b> <i>21/01/2022</i> </span>
          <span> <b>price: </b> <i>NOT AVAILABLE</i> </span>
      </div>

      <div>
        <span> <h4>OWNER</h4> </span>
          <span> <b>user: </b> <i>terminator26</i> </span>
          <span> <b>location: </b>Toronto, Canada </span>
      </div>

      <br>
      <div>============================================</div>

      <a href="../index.html#robot_mishi">return</a>

    </section>
</body>
</html>