<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='style_detail.css'>
    <link rel="icon" type="image/x-icon" href="../img/nft.png">
    <title>Bunny</title>
</head>
<body>
    <section>

      <div class='content'>
        <img src="../img/nft/rap_1.jpg" width="400px" height="380px"> 
        <h1 class="center">RAP</h1>
      </div>

      <div class='content'>
        <h3 class="leftTitle"> <b>INFO</b> </h3>
        <p class="left"> <b>Date: </b>20/01/2022 </p>
        <p class="right"> <b>Price: </b>0,25 ether </p>
      </div>

      <div class='content'>
        <h3 class="leftTitle"> <b>OWNER</b></h3>
        <p class="left"> <b>User: </b> <i>eminemOfficial</i> </p>
        <p class="right"> <b>Location: </b>Misuri, US </p>
      </div>

      <div class='aContent'>
        <a href="../index.html#rap">Volver</a>
      </div>

    </section>
</body>
</html>